<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Vue</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>

<div id="app">
    <div class="container">
        <div class="card mt-5">
            <h2 class="card-header">Near Earth Objects</h2>
            <div class="m-3" v-if="asteroids.length > 0" v-cloak>
                <p>Showing {{asteroids.length}} items</p>
            </div>
            <table class="table">
                <thead class="thead-light"></thead>
                <th>#</th>
                <th>Name</th>
                <th>Close Approach Date</th>
                <th>Remove</th>
                <tbody v-cloak>
                <tr v-for="(asteroid, index) in asteroids" :key="asteroid.neo_reference_id">
                    <td>{{index+1}}</td>
                    <td>{{asteroid.name}}</td>
                    <td>{{getApproachDate(asteroid)}}</td>
                    <td>
                        <ul v-if="asteroid.close_approach_data.length > 0">
                            <li  v-for="(value, propName, index) in asteroid.close_approach_data[0].miss_distance">
                                {{index+1}}# {{propName}}: {{value}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <button @click="remove(index)" class="btn btn-warning">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

<script>

    var vm = new Vue({
        el: '#app',
        data: {
            asteroids: []
        },

        created: function(){
            this.fetchAsteroid();
        },

        methods: {
            fetchAsteroid: function(){
                var apiKey = "Q24N6wqLbxDIRpOb6HNh9yQUiZAN9xGiEaVWHfhr";
                var url = "https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=" + apiKey;

                axios.get(url).then(function(res){
                    vm.asteroids = res.data.near_earth_objects.slice(0, 30);
                });
            },

            getApproachDate: function(asteroid){

                if(asteroid.close_approach_data[0]){
                    return asteroid.close_approach_data[0].close_approach_date;
                }

                return "N/A";
            },

            remove: function(index){
                this.asteroids.splice(index, 1);
            }
        }
    });

</script>
</html>